$border-color: #ccc;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#canvas {
	height:100%;
	border-top:1px solid $border-color;
}

*, :before, :after {
	box-sizing: border-box;
}

.properties-panel-parent {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 310px;
	z-index: 10;
	border-left: 1px solid $border-color;
	border-top:1px solid $border-color;
	overflow: auto;
}

.properties-panel-parent:empty {
	display: none;
}

.ace_editor.ace-default {
	font-family: 'Cascadia Code', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
	font-size: 14px;
	.ace_hidden-cursors .ace_cursor {
		opacity:0;
	}
}

.properties-panel-parent > .bpp-properties-panel {
	padding-bottom: 70px;
	min-height: 100%;

	.js-text {
		//font-family: Consolas, 'Courier New', Courier, monospace;
		//white-space: pre;
	}

	.js-wrap {
		display: none;
	}

	.ace_editor {
		border: 1px solid $border-color;
		height:98px;
	}

	.ace_editor.ace_focus {
		border-color: #1a70ff;
		border-color: #1a70ff;
		box-shadow: 0 0 0 2px #a2c5ff, 0 0 0 1px #cdcdcd inset;
	}

	.script-edit-button {
		position:absolute;
		right:0;
		top:-25px;
	}
}

.backdrop {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .15);
	z-index: 11;
	display: none;
}

.modal {
	margin: 100px auto;
	width: 800px;
	background-color: white;
	border: 1px solid $border-color;
	box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);

	button {
		border: none;
		color: black;
		background-color: #f0f0f0;
		border:1px solid $border-color;
		border-radius:2px;

		&:hover, &:active {
			background-color: #ccc;
		}
	}

	.modal-header {
		padding: 10px;
		background-color: #f8f8f8;
		display: flex;
		justify-content: space-between;
		align-items: center;

		button.close {
			padding: 4px;
			min-width: 27px;
		}
	}

	.modal-footer {
		padding: 10px;
		background-color: #f8f8f8;
		border-top: 1px solid $border-color;
		display: flex;
		justify-content: flex-end;
		gap: 12px;

		button {
			min-width: 90px;
			padding: 7px 20px;
		}
	}

	.modal-content {
		.ace-full-editor {
			height: 500px;
		}
	}
}
